body{
    width: 800px;
}
            
.topbar{
    height: 30px;
}
            
.hero{
    background-image: url(sekolah.jpeg);
    height: 330px;
    background-size: cover;
    background-position-y: -20px;
    }
            
.link{
    position: absolute;
    top: 60px;
    left: 380px;
    width: 350px;
    font-weight: 200px;
    }
            
.filter{
    height: 330px;
    background: black;
    opacity: 0.4;
    }
            
.logo{
    position: absolute;
    top: 65px;
    left: 80px;
    }
            
.tagline{
    position: absolute;
    top: 200px;
    left: 250px;
    width: 100%;
    }
            
.tagline2{
    position: absolute;
    top: 260px;
    left: 280px;
    width: 100%;
    }
            
.tagline span{
    font-size: 36px;
    font-weight: bold;
    }
            
.tagline2 span{
    font-size: 16px;
    font-weight: 100px;
    }
            
i{
    font-size: 25px;
   }
            
.foot{
     color: white;
     margin-right: 10px;
    }